*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main
{
    background-image: url(img/1.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(1, 0, 12, 0.719);
    border: 2px solid black;
}

ul
{
    border: 3px solid wheat;
    padding: 10px 10px 10px 10px;
}

nav button
{
    border: 4px solid yellow;
    background-color: rgb(209, 230, 227);
    color: blue;
    margin-top: 0px ;
    padding: 4px 4px 4px 4px;
}

nav button:hover
{
    background-color: aqua;
    color: black;
}

nav ul li{
    display: inline;
    padding-left: 12px;
    padding-right: 12px;
    background-color: orange;
    border: 2px solid black;
    border-radius: 5px 5px 5px 5px;
    margin: 20px;
}

nav ul li:hover
{
    background-color: red;
}

nav ul li a
{
    text-decoration: none;
    color: black
    
}

nav ul li a:hover
{
color: aliceblue;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    flex-wrap: wrap;
}

.cards
{
    border: 3px solid whitesmoke;
    background-color: orange;
    width: 300px;
    height: 400px;
    font-family: monospace;
    border-radius: 10px 10px;
}

.cards:hover
{
    background-color: rgb(62,62,62);
    color: aliceblue;
    transform: scale(1.03);
    transition: all is ease;
}

img{
    border-radius: 10px 10px 0px 0px;
}

.cards a
{
    background-color: black;
    color: white;
    padding: 5px 8px;
    display: block;
    text-align: center;
    margin: 10px 15px;
    
}

.cards a:hover
{
    background-color: wheat;
    color: brown;
}

footer
{
    background-color: cadetblue;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    color: aquamarine;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;  
}